# --- PYTHON ---
__pycache__/
*.pyc
.venv/
.env

# AI models
*.gguf
*.bin
*.safetensors
*.pt
*.pth
checkpoints/
app/nlp/models/

# --- DOCKER ---
.dockerignore

# --- DANE ---
data/
debug_visualizations/
