name: Backend CI

on:
  pull_request:
  push:
    branches: [ "master" ]

jobs:
  build-backend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setu up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: ./backend
        run: ./gradlew build
        env:
          SMART_RECEIPT_DB_PASSWORD: ${{ secrets.SMART_RECEIPT_DB_PASSWORD }}
